/*Styles header at top of page*/
h1 {
	color: black;
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 50px;
}
/*Styles text in body*/
body, p {
	color: black;
	background-color: lightblue;
	font-family: Comic Sans MS;
	font-size: 20px;
}
/*CALENDAR STYLING*/
	/*Styles calendar*/
	table {
		color: black;
		background-color: rgb(222, 222, 222);
		font-family: Comic Sans MS;
		font-size: 15px;
	width: 60%;
		height: 100px;
	}
	/*Styles calendar title*/
	caption {
		color: black;
		font-family: Comic Sans MS;
		font-size: 25px;
	}
	/*Styles calendar days*/
	td {
		color: black;
		background-color: white;
		border: 1px solid black;
		font-family: Comic Sans MS;
		font-size: 15px;
		text-align: left;
		padding: 10px;
	}
	/*Styles calendar days of week*/
	th {
		color: black;
		background-color: red;
		font-family: Comic Sans MS;
		font-size: 18px;
		border: 2px solid black;
		text-align: center;
	}
