/*Styles header at top of page*/
h1 {
	color: black;
	text-align: center;
	font-family: Comic Sans MS;
	font-size: 50px;
}
/*DIV TAG COLOURS*/
	/*Blue background*/
	.blue{
		background-color: rgb(80,180,250);
		max-width: 80%;
		text-align: left;
	}

	/*Orange background*/
	.orange{
		background-color: rgb(250,140,40);
		max-width: 80%;
		text-align: left;
	}

	/*Green background*/
	.green{
		background-color: rgb(60,225,100);
		max-width: 80%;
		text-align: left;
	}

/*Styles text in body*/
body {
	background-color: rgb(250,250,255);
}
p {
	color: black;
	font-family: Comic Sans MS;
	font-size: 20px;
}

/*CALENDAR STYLING*/
	/*Styles calendar*/
	table {
		color: black;
		background-color: rgb(222, 222, 222);
		font-family: Comic Sans MS;
		font-size: 15px;
		width: 60%;
		border: 3px solid black;
		height: 100px;
	}
	/*Styles calendar title*/
	caption {
		color: black;
		font-family: Comic Sans MS;
		font-size: 25px;
	}
	/*Styles calendar days*/
	td {
		color: black;
		background-color: white;
		border: 1px solid black;
		font-family: Comic Sans MS;
		font-size: 15px;
		text-align: left;
		padding: 10px;
	}
	/*Styles calendar days of week*/
	th {
		color: black;
		background-color: red;
		font-family: Comic Sans MS;
		font-size: 18px;
		border: 2px solid black;
		text-align: center;
	}
/*DROPDOWN MENU STYLING*/
	.alpha {
		position: relative;
		display: inline-block;
	}

	.bravo {
		display: none;
		position: absolute;
		background-color: rgb(100,220,250);
		padding-right: 20px;
	}

	.alpha:hover .bravo {
		display: block;
	}